@charset "UTF-8";
header {
  width: 100%;
  background: #c8b6ff;
  /*  encabezado zona navegable-*/
}
header .botonlogo {
  /* extend */
  background-color: #FFD6FF;
}
header .imgLogo {
  width: 400px;
  height: 350px;
}
header #btn-menu {
  display: none;
}
@media only screen and (max-width: 640px) {
  header #btn-menu:checked ~ .menu {
    margin: 0;
  }
}
header label {
  display: none;
  width: 130px;
  height: 25px;
  padding: 10px;
  border-right: 1px solid #fff;
}
header label:hover {
  cursor: pointer;
  background: rgb(0, 0, 0);
}
@media only screen and (max-width: 640px) {
  header label {
    display: block;
    height: 50px;
    width: 50px;
  }
}
header label .sizeMenu {
  height: 30px;
  width: 30px;
}
header .menu {
  width: 100%;
}
header .menu ul {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}
header .menu ul li:hover {
  background: rgb(0, 0, 0);
}
header .menu ul li a {
  display: block;
  padding: 15px 20px;
  color: #fff;
  text-decoration: none;
}
@media only screen and (max-width: 640px) {
  header .menu ul li {
    border-top: 1px solid #fff;
  }
}
@media only screen and (max-width: 640px) {
  header .menu ul {
    flex-direction: column;
  }
}
@media only screen and (max-width: 640px) {
  header .menu {
    position: absolute;
    background: #c8b6ff;
    width: 70%;
    margin-left: -70%;
    transition: all 0.5s;
    z-index: 1;
  }
}

.modiCtc {
  height: 30px;
  width: 30px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FFD6FF;
  background-size: cover;
  margin: 0;
}

.disclaimer {
  display: none;
}

.botonregist {
  text-align: right;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  width: 100%;
  /* z-index: 0; */
}
.botonregist li a {
  text-decoration: none;
  color: #fff;
  background-color: #c8b6ff;
  display: inline-block;
}
.botonregist li a:hover {
  cursor: pointer;
  background: rgb(0, 0, 0);
}

main .tittlePag {
  text-align: center;
  color: rgba(130, 106, 237, 0.8156862745);
  font-size: 40px;
  margin-top: 20px;
}
@media only screen and (max-width: 640px) {
  main .tittlePag {
    display: none;
  }
}
main .parrafoIndex {
  background-color: rgba(200, 182, 255, 0.631372549);
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}
main .tamañoCarousel {
  width: 300px;
  height: 500px;
}

/* mixin */
@media only screen and (max-width: 640px) {
  #Opiniones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
#Opiniones .opinions {
  text-align: center;
  background: rgb(200, 182, 255) linear-gradient(188deg, rgb(200, 182, 255) 22%, rgb(255, 214, 255) 53%, rgb(200, 182, 255) 88%);
  font-style: italic;
  width: 100%;
}
@media only screen and (max-width: 640px) {
  #Opiniones .opinions {
    background-color: #c8b6ff;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
#Opiniones .caja:hover {
  transform: scale(1.2);
  transition-property: all;
  transition-duration: 3s;
}

.testimonials {
  padding: 40px 0;
  background: #c8b6ff;
  color: #434343;
  text-align: center;
}
.testimonials .inner {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}
.testimonials .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.testimonials .col {
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
}
.testimonials .testimonial {
  background: #FFD6FF;
  padding: 30px;
}
.testimonials .testimonial img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.testimonials .testimonial .name {
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
}
.testimonials .testimonial .stars {
  color: #6ab04c;
  margin-bottom: 20px;
}
@media screen and (max-width: 960px) {
  .testimonials .col {
    flex: 100%;
    max-width: 80%;
  }
}
@media screen and (max-width: 640px) {
  .testimonials .col {
    flex: 100%;
    max-width: 100%;
  }
}

header .botonlogo {
  display: flex;
  justify-content: center;
}

.footerContainer {
  background-color: #c8b6ff;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  align-items: center;
  margin-top: 1px;
  /* COPYRIGHT */
  /* IMAGENES REDES */
}
@media only screen and (max-width: 640px) {
  .footerContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
}
.footerContainer .divMap {
  padding-bottom: 70px;
  margin-left: 30px;
}
@media only screen and (max-width: 640px) {
  .footerContainer .divMap {
    order: 0;
  }
}
.footerContainer .divCopy .copyRight {
  display: flex;
  padding-top: 200px;
  align-items: unset;
  text-align: center;
}
@media only screen and (max-width: 640px) {
  .footerContainer .divCopy {
    order: 3;
    margin-top: -100px;
    margin-bottom: 50px;
  }
}
.footerContainer .imgRedes {
  margin-right: 20px;
}
.footerContainer .imgRedes .botonFooter {
  margin-left: 10px;
  text-decoration: none;
  list-style: none;
  color: #FFD6FF;
}
.footerContainer .imgRedes .botonFooter .linkRedes {
  text-decoration: none;
}

.sectionCtct {
  display: flex;
  justify-content: center;
}
.sectionCtct .formCtc {
  width: 60%;
  margin-top: 20px;
  margin-left: 2%;
  align-items: center;
  box-sizing: border-box;
  display: inline-block;
}
.sectionCtct .formCtc legend {
  background: rgb(200, 182, 255) linear-gradient(188deg, rgb(200, 182, 255) 22%, rgb(255, 214, 255) 53%, rgb(200, 182, 255) 88%);
  font-size: italic;
}
@media only screen and (max-width: 640px) {
  .sectionCtct .formCtc {
    margin-left: 10px;
  }
}
.sectionCtct form {
  display: flex;
  flex-direction: column;
}
.sectionCtct form div input[type=text] {
  font-size: 20px;
  width: 82%;
  padding: 10px;
  border: none;
}
.sectionCtct form div input[type=password] {
  font-size: 20px;
  width: 82%;
  padding: 10px;
  border: none;
}

.seccionDatos {
  display: flex;
  background-color: rgba(255, 200, 221, 0.5803921569);
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: space-evenly;
}
.seccionDatos .divDatos .imgDatos {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: space-between;
}
.seccionDatos .divDatos .imgMediosdepago {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: space-between;
}

section .bodysTitle {
  background: rgb(200, 182, 255) linear-gradient(188deg, rgb(200, 182, 255) 22%, rgb(255, 214, 255) 53%, rgb(200, 182, 255) 88%);
  font-style: italic;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 20px;
}
section .marginCards {
  margin-top: 10px;
  margin-bottom: 10px;
}
section .tamañoCard {
  height: 250px;
  width: auto;
}
section .setsTitle {
  background: rgb(200, 182, 255) linear-gradient(188deg, rgb(200, 182, 255) 22%, rgb(255, 214, 255) 53%, rgb(200, 182, 255) 88%);
  font-style: italic;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 20px;
}

.titleProductos {
  display: flex;
  width: 100%;
  background: rgb(200, 182, 255) linear-gradient(188deg, rgb(200, 182, 255) 22%, rgb(255, 214, 255) 53%, rgb(200, 182, 255) 88%);
  font-style: italic;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.marginCards {
  margin-top: 10px;
  margin-bottom: 10px;
}
.marginCards .tamañoCard {
  height: 250px;
  width: auto;
}

/* Agrego mapa */
.botonColor {
  background: rgb(200, 182, 255) linear-gradient(188deg, rgb(200, 182, 255) 22%, rgb(255, 214, 255) 53%, rgb(200, 182, 255) 88%);
  font-style: italic;
  border: 1px solid black;
}

section .acordeonProductos {
  margin-top: 30px;
}
section .acordeonProductos .bgBoton {
  background-color: rgba(255, 214, 255, 0.6039215686);
}
section .acordeonProductos .bgBoton2 {
  background-color: rgba(255, 214, 255, 0.568);
}

.Formulario {
  background: rgba(255, 255, 255, 0.288);
  background-position: 15px;
  margin-top: 1px;
  padding: 3px;
  display: inline-block;
}
.Formulario .titRegistro {
  text-align: center;
  color: #c8b6ff;
  font-size: 40px;
}
.Formulario .input-contenedor {
  margin-bottom: 15px;
  border: 1px solid #aaa;
}
.Formulario .icon {
  min-width: 50px;
  text-align: center;
  color: #999;
}
.Formulario .button {
  border: none;
  width: 100%;
  color: white;
  font-size: 20px;
  background: #c8b6ff;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.Formulario .button:hover {
  color: #5a2ce2;
}
.Formulario .link {
  text-decoration: none;
  color: #9071ee;
  font-weight: 600;
}
.Formulario .link:hover {
  cursor: pointer;
  color: #5a2ce2;
}

.modiCtc {
  height: 30px;
  width: 30px;
}

header .botonlogo {
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
