@import '../base/variables';

.sectionCtct{
    display: flex;
   justify-content: center;
    .formCtc{
        width: 60%;
        margin-top: 20px;
        margin-left: 2%;
        align-items: center;
        box-sizing: border-box;
        display: inline-block;
        legend{
        background: $bgColortitulos;
        font-size: $fontStyletitulos;
        }

        @media only screen and (max-width: 640px)
        {
            margin-left: 10px;
        }
    }

    form{
        display: flex;
        flex-direction: column;
        div{
            input[type="text"]{
                font-size: 20px;
                width: 82%;
                padding: 10px;
                border: none;
            }
            input[type="password"]{
                font-size: 20px;
                width: 82%;
                padding: 10px;
                border: none;
            }
            
        }
    }




}